<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container">
    <h1>Create New Employee</h1>
    <form action="#" th:action="@{/employees/create}" th:object="${employee}" method="post">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" th:field="*{firstName}" placeholder="Enter First Name"required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" th:field="*{lastName}" placeholder="Enter Last Name"required>
        </div>
        <div class="form-group">
            <label for="position">Position</label>
            <input type="text" id="position" th:field="*{position}" placeholder="Enter Position"required>
        </div>
        <div class="form-group">
            <label for="contactInfo">Contact Info</label>
            <input type="text" id="contactInfo" th:field="*{contactInfo}" placeholder="Enter Contact Info"required>
        </div>
        <div class="form-group">
            <label for="workSchedule">Work Schedule</label>
            <input type="text" id="workSchedule" th:field="*{workSchedule}" placeholder="Enter Work Schedule"required>
        </div>
        <button type="submit">Submit</button>
        <a href="/employees" class="back-button">Back</a>
    </form>
</div>
</body>
</html>
