<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Hall</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <script>
        function submitForm(event) {
            event.preventDefault();
            var id = document.getElementById('hallId').value;
            window.location.href = '/halls/update/' + id;
        }
    </script>
</head>
<body>
<div class="container">
    <h1>Select hall</h1>
    <form onsubmit="submitForm(event)">
        <div class="form-group">
            <label for="hallId">Enter hall ID:</label>
            <input type="text" id="hallId" required>
        </div>
        <button type="submit" class="button">Updata</button>
        <a href="/halls" class="back-button">Back</a>
    </form>

</div>
</body>
</html>
