<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Hall</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container">
    <h1>Update Hall</h1>
    <form action="#" th:action="@{/halls/update/{id}(id=${hall.id})}" th:object="${hall}" method="post">
        <div class="form-group">
            <label for="hallName">Hall Name</label>
            <input type="text" th:field="*{hallName}" id="hallName" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea th:field="*{description}" id="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="equipment">Equipment</label>
            <input type="text" th:field="*{equipment}" id="equipment">
        </div>
        <div class="form-group">
            <label for="classSchedule">Class Schedule</label>
            <input type="text" th:field="*{classSchedule}" id="classSchedule">
        </div>
        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>
