<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clients</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <h1>Clients</h1>
    <h2>Total Clients: <span th:text="${clientsCount}">0</span></h2>
    <form action="/clients/search" method="get" class="search-form">
        <input type="text" name="name" placeholder="Search for clients">
        <input type="submit" value="Search">
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Subscription Type</th>
            <th>Subscription Start Date</th>
            <th>Subscription End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clientsList}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.firstName}"></td>
            <td th:text="${client.lastName}"></td>
            <td th:text="${client.birthDate}"></td>
            <td th:text="${client.phoneNumber}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.subscriptionType}"></td>
            <td th:text="${client.subscriptionStartDate}"></td>
            <td th:text="${client.subscriptionEndDate}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${isAdmin}" class="button-container">
    <a href="/clients/create" class="btn">Create New Client</a>
    <a href="/clients/delete" class="btn">Delete Client</a>
    <a href="/clients/update" class="btn">Update Client</a>
    <a href="/">Home</a>
</div>
</div>
</body>
</html>
