<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Halls</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="container mt-5">
    <h1>Manage Halls</h1>
    <h3>Add Hall to Section:</h3>
    <form action="/addHallToSection" method="post">
        <div class="form-group">
            <label for="hallIdInput">Select Hall:</label>
            <select id="hallIdInput" name="hallId" class="form-control">
                <option th:each="hall : ${allHalls}" th:value="${hall.id}"
                        th:text="${hall.hallName + ' (' + hall.description + ')'}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="sectionIdInput">Select Section:</label>
            <select id="sectionIdInput" name="sectionId" class="form-control">
                <option th:each="section : ${allSections}" th:value="${section.id}"
                        th:text="${section.sectionName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
<div class="container mt-5">
    <!-- ... -->
    <h3>Remove Hall from Section:</h3>
    <form action="/removeHallFromSection" method="post">
        <div class="form-group">
            <label for="hallIdInputRemove">Select Hall:</label>
            <select id="hallIdInputRemove" name="hallId" class="form-control">
                <option th:each="hall : ${allHalls}" th:value="${hall.id}"
                        th:text="${hall.hallName + ' (' + hall.description + ')'}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="sectionIdInputRemove">Select Section:</label>
            <select id="sectionIdInputRemove" name="sectionId" class="form-control">
                <option th:each="section : ${allSections}" th:value="${section.id}"
                        th:text="${section.sectionName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Remove</button>
    </form>
    <a href="/allHallsSections">allHallsSections</a>
    <a href="/sections" class="back-button">Back</a>

</div>
</body>
</html>
