<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Client </title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container">
    <h1>Select the client to delete </h1>
    <form th:action="@{/clients/delete}" method="post">
        <div class="form-group">
            <label for="id">Enter client ID:</label>
            <input type="text" id="id" th:name="id" placeholder="ID" >
        </div>
        <button type="submit">Delete client</button>
        <a href="/clients" class="back-button">Back</a>
    </form>
</div>
</body>
</html>
